# Database configuration

DB_URL=jdbc:postgresql://localhost:5432/movies
DB_DRIVER=org.postgresql.Driver
DB_USER=user
DB_PASSWORD=password

# Cloudinary configuration

CLOUD_NAME=...
API_KEY=...
API_SECRET=...